<!-- Loader Overlay -->
<div class="loader-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Loading Globe...</p>
</div>
<!-- globe -->
<div class="header">
  <div class="logo">
    <i class="fas fa-church"></i> Church
  </div>
  <div class="profile">
    <i class="fas fa-user-circle"></i>
  </div>
</div>

<div class="controls">
  <label>
    ⏱️ Rotation Duration (ms): {{ rotationDuration }}
    <input type="range" min="500" max="10000" step="500" [(ngModel)]="rotationDuration">
  </label>

  <button (click)="applyChanges()">Apply Changes</button>
  <button (click)="zoomIn()">➕ Zoom In</button>
  <button (click)="zoomOut()">➖ Zoom Out</button>
</div>


<div id="globe-map"></div>