<div class="header">
  <div class="logo">
    <i class="fas fa-church"></i> Church
  </div>
  <div class="profile">
    <i class="fas fa-user-circle"></i>
  </div>
</div>

<!-- Control Panel -->
<div class="controls">
  <!-- Speed Control -->
  <!-- <label>
    🌍 Rotation Speed: {{ rotationSpeed }}
    <input type="range" min="0.1" max="1" step="0.1" [(ngModel)]="rotationSpeed">
  </label> -->

  <!-- Duration Control -->
  <label>
    ⏱️ Rotation Duration (ms): {{ rotationDuration }}
    <input type="range" min="500" max="10000" step="500" [(ngModel)]="rotationDuration">
  </label>

  <button (click)="applyChanges()">Apply Changes</button>
  <!-- Zoom -->
  <button (click)="zoomIn()">➕ Zoom In</button>
  <button (click)="zoomOut()">➖ Zoom Out</button>
</div>


<div id="globe-map"></div>